
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="inner-tittle-w3layouts">Blog</h2>
<!--/reviews-->
<div class="blog">
    <div class="container">
        <h3 class="tittle-agileits-w3layouts">Our Blog</h3>
        <div class="col-md-4 blog-grids-w3-agile">
            <div class="blog-info">
                <h6>December 18</h6>
                <h4><a href="single.html">BLOG POST TITLE 1 </a></h4>
                <p> Nullam sed urna id massa imperdiet auctor. Nulla sit amet nulla commodo, condimentum mauris nec, tincidunt purus. Fusce ut mollis nunc.</p>
                <a href="single.html" class="button-w3layouts hvr-rectangle-out">Learn more</a>
                <div class="blog-btm-w3">
                    <div class="blog-left-w3ls">
                        <img src="~/Content/images/circle1.jpg" alt="image">
                        <a href="single.html">Steven</a>
                    </div>
                    <div class="blog-right-w3ls">
                        <i class="fa fa-comments-o" aria-hidden="true"></i><a href="single.html">1 Comment</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="blog-image-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#myModal1"><img src="~/Content/images/b1.jpg" alt="image"></a>
            </div>
        </div>
        <div class="col-md-4 blog-w3ls-mid">
            <div class="blog-mid-img">
            </div>
            <h6>Nullam sed urna id massa imperdiet auctor, Nulla sit amet nulla commodo massa imperdiet auctor.<a href="single.html">"Mandy Jackson</a></h6>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4 blog-grids-w3-agile">
            <div class="blog-info">
                <h6>January 12</h6>
                <h4><a href="single.html">BLOG POST TITLE 3 </a></h4>
                <p> Nullam sed urna id massa imperdiet auctor. Nulla sit amet nulla commodo, condimentum mauris nec, tincidunt purus. Fusce ut mollis nunc.</p>
                <a href="single.html" class="button-w3layouts hvr-rectangle-out">Learn more</a>
                <div class="blog-btm-w3">
                    <div class="blog-left-w3ls">
                        <img src="~/Content/images/circle2.jpg" alt="image">
                        <a href="single.html">Peter</a>
                    </div>
                    <div class="blog-right-w3ls">
                        <i class="fa fa-comments-o" aria-hidden="true"></i><a href="single.html">2 Comments</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="blog-image-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#myModal3"><img src="~/Content/images/b2.jpg" alt="image"></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--//reviews-->


