
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="inner-tittle-w3layouts">Gallery</h2>
<!-- gallery -->
<div class="welcome">
    <div class="container">
        <h3 class="tittle-agileits-w3layouts">Our <span class="green-w3">Gallery</span></h3>
        <div class="w3layouts_gallery_grids">
            <div class="col-md-4 w3layouts_gallery_grid">
                <a href="~/Content/images/g1.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/images/g1.jpg" alt=" " class="img-responsive">
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text"><h3>Scholar Vision</h3></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 w3layouts_gallery_grid">
                <a href="~/Content/images/g2.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/images/g2.jpg" alt=" " class="img-responsive">
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text"><h3>Scholar Vision</h3></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 w3layouts_gallery_grid">
                <a href="~/Content/images/g3.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/images/g3.jpg" alt=" " class="img-responsive">
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text"><h3>Scholar Vision</h3></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 w3layouts_gallery_grid">
                <a href="~/Content/images/g4.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/images/g4.jpg" alt=" " class="img-responsive">
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text"><h3>Scholar Vision</h3></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 w3layouts_gallery_grid">
                <a href="~/Content/images/g5.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/images/g5.jpg" alt=" " class="img-responsive">
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text"><h3>Scholar Vision</h3></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 w3layouts_gallery_grid">
                <a href="~/Content/images/g6.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/images/g6.jpg" alt=" " class="img-responsive">
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text"><h3>Scholar Vision</h3></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 w3layouts_gallery_grid">
                <a href="~/Content/images/g7.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/images/g7.jpg" alt=" " class="img-responsive">
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text"><h3>Scholar Vision</h3></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 w3layouts_gallery_grid">
                <a href="~/Content/images/g8.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/images/g8.jpg" alt=" " class="img-responsive">
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text"><h3>Scholar Vision</h3></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 w3layouts_gallery_grid">
                <a href="~/Content/images/g9.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/images/g9.jpg" alt=" " class="img-responsive">
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text"><h3>Scholar Vision</h3></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //gallery -->
