
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <div class="w3l_banner_info">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="wthree_banner_info_grid">
                            <h3><span>Genius</span>Welcome to <br>scholar vision</h3>
                            <p>Your child can be a genius</p>
                        </div>
                    </li>
                    <li>
                        <div class="wthree_banner_info_grid">
                            <h3><span>Genius</span>Education <br>for everyone</h3>
                            <p>Your child can be a genius</p>
                        </div>
                    </li>
                    <li>
                        <div class="wthree_banner_info_grid">
                            <h3><span>Genius</span>Welcome to <br>scholar vision</h3>
                            <p>Your child can be a genius</p>
                        </div>
                    </li>
                    <li>
                        <div class="wthree_banner_info_grid">
                            <h3><span>Genius</span>Education <br>for everyone</h3>
                            <p>Your child can be a genius</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

    </div>
</div>
<div class="container body-content">

    <!-- about -->
    <div class="about-w3layouts">
        <div class="container">
            <div class="col-md-6 col-sm-6 gallery-grids agileits w3layouts gallery-grids1 wow slideInLeft">
                <div class="gallery-grid-images agileits w3layouts">
                    <div class="col-md-4 col-sm-4 gallery-grid gallery-grid-1 history-grid-image">
                        <img src="~/Content/images/a1.jpg" alt="Agileits W3layouts" class="zoom-img">
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-grid gallery-grid-2 history-grid-image">
                        <img src="~/Content/images/a2.jpg" alt="Agileits W3layouts" class="zoom-img">
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-grid gallery-grid-3 history-grid-image">
                        <img src="~/Content/images/a3.jpg" alt="Agileits W3layouts" class="zoom-img">
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-grid gallery-grid-4 history-grid-image">
                        <img src="~/Content/images/a4.jpg" alt="Agileits W3layouts" class="zoom-img">
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-grid gallery-grid-5 history-grid-image">
                        <img src="~/Content/images/a5.jpg" alt="Agileits W3layouts" class="zoom-img">
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-grid gallery-grid-6 history-grid-image">
                        <img src="~/Content/images/a6.jpg" alt="Agileits W3layouts" class="zoom-img">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 gallery-grids agileits w3layouts gallery-grids2 wow slideInRight">
                <h2 class="tittle-agileits-w3layouts">About Our Scholar Vision</h2>
                <h5>LOREM IPSUM DOLOR SIT AMET</h5>
                <p class="para-w3-agile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar tellus sed mauvehicula tempor. In hac habitasse platea dictumst. Donec nunc nunc,interdum sed aliquet quis.</p>
                <p class="para-w3-agile">conditum vitae enim. Quisque molestie consectetur urna quis scelerisque. Morbi at lectus sapien. Donec fgiat arcu in mi placerat ullamcorper.</p>
                <a href="single.html" class="button-w3layouts hvr-rectangle-out">know more</a>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
    <!-- //about -->
    <!--/services-->
    <div class="services-w3-agileits w3agileits-ref">
        <div class="col-md-6 services-left">
            <div class="service-grid1">
                <div class="col-md-4 service-grids-w3ls">
                    <i class="fa fa-language" aria-hidden="true"></i>
                    <h5>Language Lessons</h5>
                    <p>Lorem ipsum dolor sit amet </p>
                </div>
                <div class="col-md-4 service-grids-w3ls">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <h5>Qualified Teachers</h5>
                    <p>Lorem ipsum dolor sit amet </p>
                </div>
                <div class="col-md-4 service-grids-w3ls">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    <h5>Special Education</h5>
                    <p>Lorem ipsum dolor sit amet </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="service-grid2">
                <div class="col-md-4 service-grids-w3ls">
                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                    <h5>Meals Provided</h5>
                    <p>Lorem ipsum dolor sit amet </p>
                </div>
                <div class="col-md-4 service-grids-w3ls">
                    <i class="fa fa-bus" aria-hidden="true"></i>
                    <h5>Transportation</h5>
                    <p>Lorem ipsum dolor sit amet </p>
                </div>
                <div class="col-md-4 service-grids-w3ls">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    <h5>Full Day Session</h5>
                    <p>Lorem ipsum dolor sit amet </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-6  services-right">
            <div class="services-info">
                <h3 class="tittle-agileits-w3layouts white-w3ls">Our best services</h3>
                <p class="para-w3-agile white-w3ls">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar tellus sed mauvehicula tempor. In hac habitasse platea dictumst. Donec nunc nunc,interdum sed aliquet quis.</p>
                <a href="single.html" class="button-w3layouts hvr-rectangle-out">Learn more</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--//services-->
    <!-- agile_testimonials -->
    <div class="test">
        <div class="container">
            <div class="col-md-3 test-left-agileinfo">
                <h3 class="tittle-agileits-w3layouts">Testimonials</h3>
            </div>
            <div class="col-md-9 test-gr">
                <div class=" test-gri1">
                    <div id="owl-demo2" class="owl-carousel">
                        <div class="agile">
                            <div class="test-grid">
                                <div class="col-md-8 test-grid1">
                                    <p class="para-w3-agile">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.
                                        Lorem ipsum dolor .
                                    </p>
                                    <h4>Steve Warner</h4>
                                    <span>Lorem Ipsum</span>
                                </div>
                                <div class="col-md-4 test-grid2">
                                    <img src="~/Content/images/t1.jpg" alt="" class="img-r">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="agile">
                            <div class="test-grid">
                                <div class="col-md-8 test-grid1">
                                    <p class="para-w3-agile">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.
                                        Lorem ipsum dolor.
                                    </p>
                                    <h4>Andery</h4>
                                    <span>Lorem Ipsum</span>
                                </div>
                                <div class="col-md-4 test-grid2">
                                    <img src="~/Content/images/t2.jpg" alt="" class="img-r">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="agile">
                            <div class="test-grid">
                                <div class="col-md-8 test-grid1">
                                    <p class="para-w3-agile">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.
                                        Lorem ipsum dolor .
                                    </p>
                                    <h4>williams</h4>
                                    <span>Lorem Ipsum</span>
                                </div>
                                <div class="col-md-4 test-grid2">
                                    <img src="~/Content/images/t3.jpg" alt="" class="img-r">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="agile">
                            <div class="test-grid">
                                <div class="col-md-8 test-grid1">
                                    <p class="para-w3-agile">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.
                                        Lorem ipsum dolor .
                                    </p>
                                    <h4>Shane Smith</h4>
                                    <span>Lorem Ipsum</span>
                                </div>
                                <div class="col-md-4 test-grid2">
                                    <img src="~/Content/images/t4.jpg" alt="" class="img-r">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //agile_testimonials -->
    <!-- Register -->
    <div class="register-wthree">
        <div class="container">
            <div class="col-md-6 regstr-l-w3-agileits">
                <h3 class="tittle-agileits-w3layouts white-w3ls">Get online <span>courses for free</span></h3>
                <h4>Register Now</h4>
                <!--timer-->
                <section class="examples">
                    <div class="simply-countdown-losange" id="simply-countdown-losange"></div>
                    <div class="clear"></div>
                </section>
                <div class="clearfix"></div>
                <!--//timer-->
            </div>
            <div class="col-md-6 regstr-r-w3-agileits">
                <div class="form-bg-w3ls">
                    <h3>Fill the register form</h3>
                    <p class="para-w3-agile white-w3ls">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <form action="#" method="post">
                        <input type="text" name="Name" placeholder="Full name" required="" />
                        <input type="email" name="Email" placeholder="Email" required="" />
                        <select class="form-control">
                            <option>Select a course</option>
                            <option>Philosophy</option>
                            <option>Contemporary Art</option>
                            <option>Geometry Course</option>
                        </select>
                        <input type="submit" value="Submit" class="button-w3layouts hvr-rectangle-out">
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //Register -->
</div